/*kb*/
	.body-content .knowledgebase-body h5:before {
		right: 16px;
		left: auto;
		padding-left: 10px;
		padding-right: 0px;a
	}
	
	.body-content .knowledgebase-body h5 {
		padding: 0px 36px 0px 0px;
	}

	.kb_article_type li.articles:before {
		right: 30px;
		left: auto;
		padding-left: 10px;
		padding-right: 20px;
	}
	
	.kb-box-single span {
		padding-right: 2px;
		padding-left: 20px;
	}
	
	.manual_related_articles h5:before {
		right: 16px;
		left: auto;
		padding-left: 10px;
		padding-right: 0px;
	}
	
	.manual_related_articles h5 {
		padding: 0px 36px 0px 0px;
	}
	
	.body-content .kb-single span {
		padding-left: 20px;
		padding-right: 2px;
	}
	
	.kb-single:before {
		right: 16px;
		left: auto;
	}
	
	.body-content .kb-single {
		margin: 0px 0 35px 0px;
		padding: 5px 70px 5px 0px;
	}
	
	.kb-box-single:before {
		right: 16px;
		left: auto;
	}
	
	.body-content li.cat {
		padding: 8px 28px 8px 0px;
	}
	
	.body-content li.cat.inner:before {
		right: 7px;
		left: auto;
	}	
	
	.custom-well .knowledgebase-body li.cat.inner:before {
		right: 43px;
	}
	
	.custom-well  .knowledgebase-body h5:before {
		right: 50px;
	}
	
	.hvr-icon-wobble-horizontal:before {
		content: "\f060"!important;
		position: inherit!important;
		padding: 0px 5px 0px 0px!important;
	}
	
	.custom-link.kblnk {
		padding: 0px;
	}


/*doc*/
	ul.news-list li.cat-lists {
		padding: 10px 7% 10px 9%;
	}
	
	.news-list li:before {
		left: auto;
		right: 0px;
	}
	
	.doc-single-post .page-title-header:before {
		left: auto;
		right: 0px;
	}
	
	.doc-single-post .page-title-header {
		padding: 0px 0px 5px 0px;
	}
	
	.body-content .doc-single-post h2.singlepg-font, .doc-single-post .page-title-header p {
		padding-right: 67px;
	}
	
	.body-content .doc-single-post .page-title-header span {
		padding-left: 20px;
		padding-right: 2px;
	}
	
	#list-manual li a.no-child:before {
		font-family: 'FontAwesome';
		content: "\f104";
		right: 0px;
		padding-right: 0px;
	}
	
	#list-manual li a, #list-manual-phone li a {
		padding: 1px 20px 3px 5px;
	}
	
	#list-manual li a.has-child:before {
		right: 0px;
		left: auto;
		padding-left: 10px;
		padding-right: 0px!important;
	}
	
	ul#list-manual li ul {
		padding: 0px 15px 0px 0px;
		border-left: none;
		margin-left: 0px;
		margin-right: 10px;
		border-right: 1px dashed #ccc;
	}
	
	#list-manual li a.has-inner-child {
		padding: 0px 10px 0px 0px!important;
	}
	
	#list-manual li a.has-inner-child:before {
		padding-right: 0px!important;
		left: auto;
		right: -9px;
	}
	
	.manual_attached_section h5:before {
		left: auto;
		right: 0px;
	}
	
	.manual_attached_section h5 {
		padding: 0px 36px 0px 0px;
	}
	
	
	
/*search page*/	
	.search:before {
		right: 10px;
		left: auto;
	}
	
	.body-content .search {
		padding: 20px 85px 8px 0px !important;
	}
	
	.body-content .search span {
		padding-left: 20px !important;
		padding-right: 2px !important;
	}


/*portfolio*/
	p.portfolio-button-top a.link.hvr-icon-wobble-horizontal {
		padding-right: 0px;
	}
	
	.body-content .portfolio-single span {
		padding-left: 20px;
		padding-right: 2px;
	}


/*faq*/
	.body-content .collapsible-panels h4:before {
		left: auto;
		right: 16px;
	}
	
	.body-content .collapsible-panels h4 {
		padding: 0px 40px 0px 0px;
	}


/*home vc shortcodes*/
	.manual_icon_with_title .icon_text_holder {
		padding: 0 65px 0 0px;
	}
	
	.portfolio-filter ul {
		margin-left: 0px;
	}

	.vc_kb_article_type li.articles:before {
		left: auto;
		right: 0px;
		padding-right: 28px;
	}
	
	.vc_kb_article_type li.articles {
		padding: 4px 26px 0px 0px;
	}
	
	.vc_kb_cat_sc ul span.kb_cat_post_count {
		float: right;
		margin: 0 0 0 10px;
	}


/*blog*/
	blockquote {
		border-right: 5px solid #eee;
		border-left:none;
	}
	
	blockquote p:before { 
		content: open-quote;
		font-weight: bold;
	} 
	blockquote p:after { 
		content: close-quote;
		font-weight: bold;
	}

	.body-content .blog:before {
		right: 14px;
		left: auto;
	}
	
	.body-content .blog .caption {
		margin-bottom: 10px;
		text-align: right;
	}
	
	.blog .caption span {
		padding-left: 20px;
		padding-right: 2px;
	}
	
	.posted-on-single time.entry-date.published.updated {
		margin-right: -6px;
	}
	
	
	span.comments-link {
		 direction: ltr;
	}
	
	
/** header search **/
	.form-group input.header-search {
		padding-left: 0;
		padding-right: 35px;
	}
	
	form.searchform i.livesearch {
		right: 23px;
		left: inherit;
	}

	select.search-expand-types {
		background-position: center left;
		padding-right: 15px;
		background-position-x: 14%;
		/*left: 122px;  CHANGE*/
		left: 108px;
		right: auto;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	ul.manual-searchresults li a {
		padding: 10px 5px 15px 0px;
	}
	
	ul.manual-searchresults li a:before {
		float: right;
		padding-left: 10px;
		margin-top: 1px;
	}
	
	.button-custom {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		right: auto;
		left: 15px;
		border-top-left-radius: 5px !important;
		border-bottom-left-radius: 5px !important;
	}
	
	
/*global*/	

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea.form-control {
    text-align: right;
}	
	

/*extra*/	

.bx-viewport {
    direction: ltr !important;
}

.vc_separator .vc_icon_element:not(.vc_icon_element-have-style)+h4 {
    padding-right: 0 !important;
	padding-left: 0.8em !important;	
}

.widget_recent_entries li, .widget_recent_comments li, .widget_meta li, .widget_nav_menu li, .widget_pages li, .widget_categories li, .widget_archive li, .widget_display_replies li, .st_kb_articles_widget li, .st_kb_categories_widget li, .widget_rss li {
    margin-left: 0px;
}

.trending-search {
    float: right;
}




/*forum*/	

#bbpress-forums .bbp-forum-title-container, #bbpress-forums .bbp-forum-topic-count, #bbpress-forums .freshness-forum-link, #bbpress-forums .bbp-forum-info, #bbpress-forums .topic-reply-counts, #bbpress-forums .bbp-forum-freshness {
    float: right!important;
}

#bbpress-forums li.bbp-forum-info, #bbpress-forums li.bbp-topic-title {
    float: right!important;
    text-align: right;
}

#bbpress-forums li.bbp-forum-topic-count, #bbpress-forums li.bbp-topic-voice-count, #bbpress-forums li.bbp-forum-reply-count, #bbpress-forums li.bbp-topic-reply-count {
    float: right!important;
}

#bbpress-forums .bbp-forum-title-container a:after {
    font-family: FontAwesome;
    content: "\f0e6";
    padding-right: 10px;
    font-size: 20px;
    padding-left: 5px;
    right: 0px;
    margin-left: 7px;
}

#bbpress-forums .bbp-forum-title-container a:before {
    content: ""!important;
}

#bbpress-forums div.bbp-reply-author {
    float: right!important;
}

#bbpress-forums div.bbp-reply-content {
    position: absolute;
    margin-right: 130px;
	margin-left:0px;
    text-align: right;
    float: left;
    vertical-align: top;
}

#bbpress-forums .bbp-pagination {
    margin-top: 30px;
}


/*nav*/
#navbar ul li > ul {
    left: auto!important;
}
.navbar-inverse .navbar-nav>li>a {
    padding: 0px 30px 0px 0px;
}
.navbar-collapse {
    padding-left: 0px;
}


ul.footer-secondary li, ul.footer-tertiary li {
    float: inherit;
}

/*search*/
.form-group input.header-search {
    float: right;
}

#navbar ul li > ul li > ul {
    right: 225px!important;
}

/* #####################################  PC-devices  ###############################################*/
@media (min-width: 768px) {
	
	*{
	  direction: ltr;
	}

	h1, h2, h3, h4, h5, h6{
	  direction: rtl !important;
	}

	p, a, span, li, ul, div, select, input, form, option, pre{
	  direction: rtl !important;
	}
	
	/*logo adjust*/
	
	.navbar-header {
		float: right!important;
	}
	.navbar-nav {
		float: left!important;
		margin-left: 0px!important;
	}
	
	
	/** nav **/
	.navbar-nav>li {
        float: right!important;
    }
	#navbar ul li > ul li a {
	    text-align: right;
	}
	

	/*general*/
	textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea.form-control {
		text-align: right;
	}
	
	ol, ul {
		padding-right: 0px;
		line-height: 28px;
	}


	/*other*/
	.manual_related_articles span.separator.small {
		width: auto;
	}

	.footer-bg .kb_article_type li.articles:before {
		left: auto;
		right: 8px;
	}

	.footer-bg .kb_article_type li.articles, .kb_article_type li.articles {
		padding: 0px 8px 0px 0px;
		margin-left: 0px!important;
		margin-right: 18px;
	}

	.manual_icon_with_title .icon_holder {
		float: right;
		margin-left: 8px;
		margin-right: 8px;
		margin-top: -5px;
	}

	.manual_icon_with_title {
		display: block;
		position: relative;
		padding: 0px 0px 0px 0px;
	}

	.ninja-forms-required-items {
		display: none;
	}

	.input-counter {
		display: none;
	}

	.comment-content ul, .comment-content ol, .entry-content ul, .entry-content ol {
		margin: 0 30px 0px 0px;
	}

	.manual_icon_with_title .icon_holder span {
		font-size: 38px;
		line-height: 30px;
	}
	
	.has-child:before {
		content: "\f104";
		font: 14px/1 FontAwesome;
		float: left;
		line-height: inherit;
		margin-right: 5px;
		border-top: 0px !important;
	}
	
	.navbar-nav {
		margin-left: 0px!important;
	}
	
}

/* #####################################  mobile-devices  ###############################################*/
@media (max-width: 768px) {
	*{
	  direction: ltr;
	}
	
	h1, h2, h3, h4, h5, h6, p{
	  direction: rtl;
	}

	li , ul , input, form, span, .textwidget, div, option, pre{
		direction: rtl;
	}
	
	/*logo adjustment*/
	.navbar-toggle {
		float: left!important;
		margin-left: 15px;
	}
	.navbar-brand {
		float: right!important;
	}
	
	/*other*/
	.navbar-nav {
		margin-left: 0px!important;
	}	
	.manual_icon_with_title .icon_holder span {
		font-size: 38px;
		line-height: 30px;
	}
	.manual_icon_with_title .icon_holder {
		float: right;
		margin-left: 8px;
		margin-right: 8px;
		margin-top: -5px;
	}	
	
	ol, ul {
		padding-right: 0px;
		line-height: 28px;
	}
		
}

@media (max-width: 991px) {
.mobile-menu-holder ul {
    padding: 5px 15px;
}
}