/*
 Theme Name:     Manual Child Theme
 Theme URI:      http://wpsmartapps.com/
 Description:    Child Theme for Manual
 Author:         jabin Kadel
 Author URI:     http://www.jabinkadel.com
 Template:       manual
 Version:        1.0
*/
 
@import url("../manual/style.css");


/* ------- Insert custom styles below this line ------- */

/* ======================================== Header ================================= */
.custom-nav-logo {
    height: 85px!important;
}

body.home .navbar-inverse.after-scroll-wrap .navbar-nav>li>a {
    color: #2A2A2A!important;
    line-height: 105px!important;
}

body .navbar-inverse.after-scroll-wrap .navbar-nav>li>a {
    line-height: 90px!important;
}

body .navbar-brand {
    margin-top: 0px;
    padding: 10px 15px 15px 15px;
}

body .after-scroll-wrap .navbar-brand {
    margin-top: 10px;
}

body .navbar {
    background: rgba(249, 249, 249, 0.74)!important; 
}

.cta-btn .home-message-darkblue-bar {
    background-color: rgba(49,89,168,1) !important;
}

body #footer-info .footer-msg-bar p {
    font-weight: 500;
}

/* ======================================== Home ================================= */
#home-coloum-layout .hvr-float {
    display: block;
}

.counter-number {
    height: 70px;
    padding-top: 0;
}


/* ======================================== Category ================================= */
ul.categories-list-wrapper {
    height: auto;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    list-style-type: none;
    padding: 20px 0;
}

ul.categories-list-wrapper li {
	list-style: none;
	font-size: 26px;
	line-height: 52px;
	text-align: center;
	    border: 2px solid #cecece;
    margin-bottom: 10px;
background-color: #cecece;
color: #fff;
}

ul.categories-list-wrapper li a {
color: #4a4a4a;
text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}

.custom-sidebar-wrapper.custom-well {
	padding: 30px 10px 19px 10px;
}

ul.categories-list-wrapper li:hover {
    background-color: #fff;
    color: #fff;
}
ul.categories-list-wrapper li:hover a {
    color: #4d515b;
}

/* ======================================== FAQ ================================= */
/* ======================================== Other ================================= */
/* ======================================== Footer ================================= */

.newsletter-form .gform_body ul li {
    padding-bottom: 0;
}
body .newsletter-form .gform_body ul li input {
    border-radius: 5px;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 40px;
    padding-left: 12px !important;
}

body .newsletter-form .gform_footer.top_label {
    margin-top: 0px;
}

body .newsletter-form .gform_footer.top_label input {
    padding: 3px 30px;
}

.custom-footer .col-md-3.col-sm-6 {
    width: 20%;
}

.footer-tertiary {
    float: none;
    border-bottom: 1px solid #d0d0d063;
    padding-bottom: 10px;
}

.footer-secondary {
    float: none;
    border-top: 1px solid #d0d0d063;
    padding-top: 10px;
}

.footer-logo {
    display: inline-block;
    margin: 10px 0;
}

.social-foot li {
    list-style: none;
    display: block;
    font-size: 17px;
}
.social-foot li i {
    padding-right: 10px
}

/******************************************************/
.global-search{
    text-align: left;
}
.searchformnew select{
    display: inline-block;
    width: 41%;
}
.searchformnew input[type="text"]{
    display: inline-block;
    width: 43% !important;
    border-radius: 0;
    position: relative;
}
.searchformnew .button-custom{
    top:5px;
padding: 12px 20px !important;
}

ul.ui-autocomplete {
    color: #272626 !important;
    -moz-border-radius: 15px;
    max-height: 250px;
    overflow: auto;
    background: #fff;
    list-style: none;
    width: 29.35%!important;
    position: absolute;
    border: 1px solid #E9E9E9;
    border-top: none;
    padding: 15px 0px;
    margin: 0;
}

ul.ui-autocomplete li{
    border-top: 1px solid #E9E9E9;
    padding: 12px 10px;
}

ul.ui-autocomplete li:first-child{
    border-top:none;
}

.misha_loadmore{
    width: 24%;
    text-align: center;
    margin: 0 auto;
    background: #000;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}
.misha_loadmore:hover{
    background: #249067;
}
