.redux-dev-mode-notice-container.redux-dev-qtip { display: none; }
.manual_adminmsg { padding: 20px; font-size: 14px; color: #FCFCFC; color: #000000; background: white; border-left: 4px solid #46b450; margin-top: 10px; margin-right: 20px; }
.manual_adminmsg span { color: #C31111; font-weight:bold; }
#redux-header .rAds, #redux-header .rAds img { display: none!important; }
.redux-container .redux-group-tab h3 { border-bottom: 5px solid #d4ddf1; background: #edf2fd; padding: 2px 0px 2px 13px;}
.redux-container .redux-group-tab h3:before { content: "\f103"; font: normal normal normal 14px/1 'Elusive-Icons'; padding-right: 13px; color: #565bf5; font-size: 16px;     font-weight: 300; }